# Veroeffentlichte RemoteApps fuer weston-mirror RAIL
# Kopie nach /etc/weston-rail/apps.conf, wird bei jedem Start neu gelesen.
#
# Der Client startet ein Programm ueber seinen Namen:
#   remoteapplicationprogram:s:||firefox
# oder ueber den Programmpfad aus "command" (/usr/bin/firefox).
# Alles, was hier nicht steht, wird abgelehnt.
#
#   name              Name, den der Client anfordert
#   command           Programm mit festen Argumenten (ohne Shell, Anfuehrungs-
#                     zeichen fuer Argumente mit Leerzeichen)
#   client-arguments  true: Argumente aus der .rdp-Datei anhaengen
#                     false (Standard): Argumente des Clients ignorieren

[app]
name=firefox
command=/usr/bin/firefox
client-arguments=false

[app]
name=gedit
command=/usr/bin/gedit
client-arguments=true

[app]
name=terminal
command=/usr/local/bin/weston-terminal
client-arguments=false
